[2020-03-05 23:23] jbphet opened #1 ""Number Line: Distance" master checklist"
# "Number Line: Distance" master checklist

## Design
- [x] **Sim folder and design doc created** (Date: 03/06/2020)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/project

[2020-06-19 14:59] KatieWoe opened #2 "CT value property should not be set to anything except invalid value if the point controller is not on the number line"
[code]

[2020-06-19 16:54] jbphet commented on #2
@SaurabhTotey is doing most of the work on this, assigning to him.

[2020-06-19 17:25] SaurabhTotey commented on #2
I realized the assertion I put in previously was incorrect and have now removed it. I'll wait for a few more columns of CT to show up green before I close this.

[2020-06-22 15:21] #2 closed

[2020-06-29 02:16] pixelzoom opened #3 "CT: this.reset is not a function"
[code]

[2020-06-29 14:47] KatieWoe commented on #3
Also r.reset
[code]

[2020-06-29 15:25] SaurabhTotey commented on #3
I believe I have addressed this issue, but I'm not sure why it is complaining about an `r.reset` instead of `this.reset`. I at least removed the cause for the error of `this.reset`, but I will investigate a little more into `r.reset`.

[2020-06-29 15:36] pixelzoom commented on #3
`r.reset` is the mangled form of `this.reset` in the built version.

[2020-06-29 18:23] jbphet commented on #3
CT looks clear, and @SaurabhTotey discussed name mangling.  Closing.

[2020-06-29 18:23] #3 closed

[2020-07-22 17:11] SaurabhTotey opened #4 "Should variable names and subscripts be translatable?"
Here are two screenshots from NLD that show variables.
![swap](https://user-images.githubusercontent.com/22577113/88206680-e6f8e800-cc0b-11ea-8e21-650d058a68ba.png)
![distancedescription](https://user-images.githubusercontent.com/22577113/88206685-e95b4200-cc0b-11ea-8eb6-8000d3d1825e.png)
As of this issue, these strings are translatable, but @jbphet is pointing out that we don't always allow trans

[2020-07-22 17:15] SaurabhTotey opened #5 "Non-italic subscripts for variables"
![distancedescription](https://user-images.githubusercontent.com/22577113/88207089-81f1c200-cc0c-11ea-8e48-08ee28bd93c6.png)
![swap](https://user-images.githubusercontent.com/22577113/88207091-8322ef00-cc0c-11ea-92d7-333c530c3410.png)
@amanda-phet had recommended italic variable names with non-italic subscripts. The above is what the variables look like currently. Is this what these should look li

[2020-07-22 17:17] amanda-phet commented on #4
Yes the variables should be translatable, but I'm not sure about the subscripts because I don't think we usually allow numerals to be translated. A few locales have translated variables (Greek is one).

These strings should also be translatable.

[2020-07-22 17:27] SaurabhTotey commented on #4
Alright, currently the variables are translatable but they have the superscript formatting baggage with them. I'll make only the variable letters be translatable and make the subscript formatting with numerals happen in the code and remove those from the translation string.

[2020-07-22 18:16] amanda-phet commented on #4
I see. I am not sure what we have done in the past with subscripts.. or if we've ever done something. Maybe check Graphing Lines (the [Arabic](https://phet.colorado.edu/sims/html/graphing-lines/latest/graphing-lines_ar.html) translation, for example) and see what was done there.

[2020-07-22 18:17] amanda-phet commented on #5
Those look fine to me. Thanks!

[2020-07-22 18:17] #5 closed

[2020-07-27 17:51] ariel-phet commented on #4
Looks like the Arabic translation leaves the subscripts alone, and it is not an issue. I agree with leaving the subscripts (which are numerals) non-translatable.

[2020-07-28 18:33] #4 closed

[2020-07-28 18:34] SaurabhTotey commented on #4
In my latest commit, I made the subscripts not translatable, but left the variables to still be translatable. I closed this issue, but if further work needs to be done, please reopen!

[2020-08-04 17:59] SaurabhTotey opened #6 "Distance statement allows multiple point controllers to have the same value."
Up until recently, the distance statement at the top of the generic screen allowed points to have the same value. My current stop-gap for this is to have the point controller 'skip' over the other one if the distance statement would cause them to have the same value. If one point is at 100 and the other is at 99, moving the lower point controller up currently swaps the values of the point controll

[2020-08-04 18:10] SaurabhTotey opened #7 "Directed Distance Arrow Scaling"
When the distance type is changed to directed distance, the shading between point controllers also draws an arrow. Currently, the arrow's scale is based off of the range of the number line (larger range means smaller arrow). @jbphet recommended that instead the scale of the arrow be scaled based off of the distance between point controllers similar to how force arrows act in atomic-interactions.
C

[2020-08-12 14:51] KatieWoe opened #8 "CT x must be a finite number NaN"
[code]

[2020-08-12 16:30] jbphet commented on #8
I just checked CT and it looks clear.  @SaurabhTotey - have you already addressed this?

[2020-08-12 16:32] SaurabhTotey commented on #8
That's odd, I haven't made any changes, so it must be happening only sometimes by chance. I will investigate into the cause of this issue.

[2020-08-12 16:33] KatieWoe commented on #8
I did notice that it seemed to come and go, which is why I made the issue even though a few columns were clear.

[2020-08-13 21:53] SaurabhTotey commented on #8
Since I am unable to manually reproduce, I made 4cd6e99 to try and see if that would fix the issue. CT still is having bad columns, so I will revert that commit and continue looking into what may be causing this.

[2020-08-14 18:05] SaurabhTotey commented on #8
I believe that I finally found the cause of the issue. I had an arrow scale factor that was based off of the number line's range, but I forgot to add corresponding scale factors for the new ranges because I added more numberlines for the explore scenes. After adding in scale factors so that all numberlines can show arrows, this issue should be fixed. I will wait for a few columns on CT to show up

[2020-08-18 16:35] SaurabhTotey commented on #8
CT looks good. Closing.

[2020-08-18 16:35] #8 closed

[2020-08-24 21:27] amanda-phet commented on #7
This is a good question. My inclination is to keep the arrow the same all the time. I think a changing arrowhead would be strange feedback that might seem intentional or meaningful. It the main issue is from -100 to 100, how about you pick an arrowhead size that looks appropriate for each range and then I can review?

So, smaller arrow for -100 to 100, and larger arrow for -10 to 10, and something

[2020-08-24 21:35] amanda-phet commented on #6
Good question. The way the points behave on the number line (on phettest) looks good to me. It reminds me of NLI, how we handled attempting to put points at the same location. Can you review what is done in NLI and see if you're doing the same thing as that sim?

If the user tries to change the value using the pickers, we could keep doing what you are doing now by skipping the value. I can't see a

[2020-08-24 21:43] amanda-phet commented on #7
I looked at phettest and the arrow for -100 to 100 is quite small. With the change in arrow size, maybe we also need to make the shading/weights of the distance slightly thinner?

[2020-08-27 20:52] amanda-phet commented on #6
8/27/20 design meeting:

We'd like to be able to allow overlapping points, and see the distance as 0. So @SaurabhTotey and @jbphet will look into the common code for the point control and see if it's easier to
(1) make the handle longer
(2) expand the size of the point being covered

And pick one to implement as feedback in the case when two points overlap.

[2020-08-27 21:12] amanda-phet commented on #7
8/27/20 design meeting:

We like an arrow size that is being used at [-10,10]. However on [-30,30] , once the tail is not visible, the arrow head + tail scale down in size (similar to Atomic Interactions) so that a tail is visible until you get two points that are one unit apart (at that point, it's ok to only see the arrowhead. This allows the arrowhead to be as large as possible).

On [-100,100]

[2020-10-28 21:55] jbphet commented on #6
I'm going to unassign myself from this issue and focus on the one for "Number Line: Operations", since that sim will likely be published first.  I'll keep in mind that the solution we come up with will need to work well in both that sim and this one.

[2020-10-28 21:59] jbphet opened #9 "Mid-project code review"
I need to take a fairly detailed pass through the code and provide feedback on it.  I've been busy on other priorities for quite a while, and this code hasn't gotten as much scrutiny as I probably should be giving it.

@SaurabhTotey is unlikely to have much time for this sim until the end of the year, so I should try to get it done before then.  I'm going to mark it as deferred and will set up a c

[2020-12-23 21:26] SaurabhTotey commented on #6
I did a brief investigation of what would need to happen to make these changes possible.

For option 1, the relevant changes would involve NLC's `PointController.offsetFromHorizontalNumberLine` and `PointController.offsetFromVerticalNumberLine`. To have those values be able to change (when the point controllers overlap), those fields would need to ostensibly change from numbers to NumberProperties

[2020-12-23 22:09] SaurabhTotey opened #10 "Elevation Scene Distance Description for Absolute Distance"
In the elevation scene of NLD, when both point controllers are placed and the distance type is absolute value, the distance description reads `The fish and the bird are [dy] meters apart.`. This distance statement reflects their difference in y-levels, which makes sense in the context of the numberline. However, the fish and the bird aren't actually necessarily that distance apart as they could ha

[2021-01-06 22:46] amanda-phet commented on #10
Hm, that is a very good point. Maybe something like "The fish and the bird have a vertical distance of 1 meter"

https://en.wikipedia.org/wiki/Vertical_position

It doesn't sound great, so I'll have to think about it some more.

[2021-01-29 00:31] SaurabhTotey opened #11 "Documentation Style"
This issue is just meant to track documentation changes related to https://github.com/phetsims/number-line-operations/issues/54.

[2021-02-01 22:06] SaurabhTotey commented on #6
I have made some progress with getting the handle lengths to change when points overlap in the OverlapAttachDistance branches of NLC and NLD, but the behaviour as it is right now is extremely buggy. I am having a bit of trouble finding the causes for any of the issues at this moment.
However, enough of it is implemented that it should be usable for a demo. I'll now pivot to making a demo for expan

[2021-02-10 20:17] jbphet opened #12 "Comments should use the words "number line" instead of "numberline""
Parent issue is #9.

My IDE is flagging usages of the word "numberline" everywhere, like so:

![image](https://user-images.githubusercontent.com/3082831/107566371-0eac9f00-6ba2-11eb-8f69-d2d8ccab9428.png)

I looked up the term, and at least according to Webster's dictionary, it should be two words, see https://www.merriam-webster.com/dictionary/number%20line.  It should probably be changed in all

[2021-02-10 20:20] jbphet opened #13 "Remove the mockup"
Noticed while working on #9.

There is code to support a mockup that can be used to compare the design to the implementation.  This is great, and should be kept around as long as we need it, but we should make sure it and the "Options..." dialog and menu item should be removed before publication.

[2021-02-10 20:22] jbphet commented on #11
While working on #9, I'm seeing a lot of comments that should be fixed up as described in the issue linked above.

[2021-02-10 20:42] amanda-phet commented on #10
I asked @arouinfar for her thoughts and she thought maybe "vertical separation" sounded more relative to the other object, where "vertical distance" could sound absolute (as in, distance from the ground). So I'd like to keep that option in mind as well. "vertical difference" could also work.

I'd like to keep this comment open and in mind when we get to interviews.

[2021-02-10 22:46] jbphet commented on #11
Also, I'm noticing a lot of comments that use a different voice than is generally used in PhET code.  For example, in `DistanceShadedNumberLineNode`, there are comments like this,
[code]
...and
[code]

I understand what's being said here.  Basically, there is an implicit "The following code..." in front of each of these.  But that's not our usual comment style.  Here are some examples from `Natura

[2021-02-10 23:02] jbphet opened #14 "Consider using points instead of point controllers in DistanceShadedNumberLineNode"
Related to #9 (mid-project code review).

The code in `DistanceShadedNumberLineNode` monitors the positions of the point controllers and creates and updates a shaded area between the points on the number line in order to indicate distance.  It seems to me that it would be substantially simpler to monitor the points on the number line and update the shaded area that way instead.  As it is, there is

[2021-02-10 23:27] jbphet opened #15 "Use a single line width constant in DistanceShadedNumberLineNode"
Related to #9 (mid-project code review).

`DistanceShadedNumberLineNode` draws a shaded area between the two points on the number line either as a line or as an arrow, depending on whether the user has selected absolute or directed distance.  There is code in this class that uses an empirically determined value for the line width with which the arrow is drawn so that the width of the tail of the a

[2021-02-17 23:58] jbphet opened #16 "Consider using points instead of point controllers for distance statement in NLDBaseView"
Related to #9 (mid-project code review) and similar to #14.

There is a multilink in `NLDBaseView` that updates the distance statement and uses the positions of the two points controllers as an input.  It would be more efficient and easier to understand if this used points instead.  As it stands, this will be updated every time a point controller is moved, regardless of whether or not it is attach

[2021-02-18 00:17] jbphet opened #17 "Should x and y symbols be translatable?"
Related to #9 (mid-project code review).

While reviewing the code, I noticed that the x and y symbols used in the distance statement have been made translatable.  We did *not* do this in the Expression Exchange simulation, but I recall that there has been some debate on the topic of whether to make variable names translatable.  What should we do in this case?

Here's a screenshot with no translat

[2021-02-18 19:58] amanda-phet commented on #17
Yes, variables should be translatable. This is something we are doing moving forward with sims. A few locales (such as Greek and Korean) often use a different symbol for the variable.

[2021-02-18 20:48] jbphet commented on #17
Thanks @amanda-phet - I'll leave it as is.  Closing.

[2021-02-18 20:48] #17 closed

[2021-02-19 23:18] jbphet commented on #9
The mid-project review is complete.  It's coming along well.  Assigning to @SaurabhTotey to follow up on the REVIEW comments.  Several issues have also been logged, but they are pretty standalone, so this can be closed once all the comments have been addressed.

[2021-03-18 20:11] amanda-phet commented on #6
Discussed 3/18/21 and decided to "do nothing" for right now and see how this does in interviews. For now, there are at least some cues in the sim that the two points are at the same location.

We do still need to make sure the description says "x2 and x1 are 0 units apart" in this case of overlapping points.

[2021-03-18 20:12] jbphet commented on #6
Added the "deferred" label based on the decision documented above.

[2021-03-18 20:14] amanda-phet opened #18 "Add x1 and x2 labels to point controllers"
See mockups:
![image](https://user-images.githubusercontent.com/7852916/111691636-222bd500-87f4-11eb-94a1-21b05faa1580.png)

![image](https://user-images.githubusercontent.com/7852916/111691702-31128780-87f4-11eb-9ca7-04a3e75b68c7.png)

[2021-03-18 20:22] amanda-phet opened #19 "Artwork needs"
- [ ] sidewalk for the first scene
- [x] add strokes around the girl and house since they are interactive elements, but leave the backgrounds more flat
- [x] provide background with sky/ocean/boat and just a little bit of waves

[2021-03-18 20:24] amanda-phet opened #20 "Screen icons"
Need to make and commit screen artwork

[2021-03-18 20:26] amanda-phet opened #21 "Pixel polishes"
- [x] match checkboxes to what we're using in other NL sims
- [x] Make distance description larger and with more spacing under the accordion box
- [x] Make the legend (lower lefthand corner) have larger circles, letters, and artwork

[2021-03-18 20:47] amanda-phet commented on #6
Removing deferred for now because @SaurabhTotey still needs to complete this:

[2021-03-25 20:03] amanda-phet commented on #19
I think we should remove the waves in this scene and use a transparent blue rectangle over the water. It will partially cover the boat, which really helps with the perspective issue, I think. Here it is with a fish underwater. The sky/boat/water is one layer in the back, with the fish next, and the transparent water layer in the front.
![image](https://user-images.githubusercontent.com/7852916/112

[2021-03-26 21:15] SaurabhTotey commented on #6
When adding this feature, I realized why I originally just left out a description for 0 distances: for directed distances, the string template depends on whether the subtraction statement is positive or negative, and I didn't know which to use when the distance was 0. For example, in the water scene, if the statement is positive, the description will say `y_2 is * meters above y_1`, or if the stat

[2021-03-26 21:51] SaurabhTotey commented on #14
I believe this was also discussed in the fall of last year, and, if I recall correctly, I started working on this change when I realized that, while using the points would be cleaner than using their controllers, I thought I needed the controllers because they have an ordering that I cannot easily check with the points.

To use the `NumberLinePoint`s, I need to listen and track changes as the poin

[2021-05-05 20:37] SaurabhTotey commented on #12
I believe this issue has been addressed. I cannot find any more examples of "numberline" in comments. Feel free to reopen if I missed something.

[2021-05-05 20:37] #12 closed

[2021-05-07 20:50] SaurabhTotey commented on #14
I think I have come up with a suitable solution for this and #16. Since both point controllers are passed to AbstractNLDBaseModel, I made a model property that gets updated when number line points are added, moved, and removed, and the property stores the values of the number line points in a way that they can be corresponded to the controller. Now DistanceShadedNumberLine and the distance stateme

[2021-05-07 20:50] #14 closed

[2021-05-11 22:12] SaurabhTotey commented on #9
All the REVIEW comments have been addressed, so I am closing this issue. #11, #13, and #15 are still outstanding.

[2021-05-12 16:13] #15 closed

[2021-05-12 16:34] SaurabhTotey commented on #7
Right now, I have added atomic-interactions-like scaling to the arrows so that the head and tail scale so that the head is always at most half the whole width of the arrow. However, I haven't yet added a check for whether the range is -30 to 30 and whether the distance is 1 to make the arrow head the whole width of the distance. I will assign this issue to @amanda-phet to review the current scalin

[2021-05-12 20:13] amanda-phet commented on #19
Here is the artwork for the first two scenes:

![hydrant](https://user-images.githubusercontent.com/7852916/118038236-18be7500-b32c-11eb-9e80-55c1f7940b7b.png)
![person](https://user-images.githubusercontent.com/7852916/118038244-19efa200-b32c-11eb-81fe-4cc4d0260566.png)
![house](https://user-images.githubusercontent.com/7852916/118038245-1a883880-b32c-11eb-9af0-a3dec630a00d.png)

![50-C](https://

[2021-05-12 20:30] amanda-phet commented on #19
And the background for the third scene:

![background](https://user-images.githubusercontent.com/7852916/118040202-853a7380-b32e-11eb-84ef-6fd855fe6831.png)

There is a 900x345 rectangle over the water that is 30% opacity, color: #97C4F2

[2021-05-19 09:44] SaurabhTotey commented on #19
I have integrated all the artwork given. Assigning to @amanda-phet to review. One thing of note is that since the background for the elevation scene has the water included, and I'm adding another layer of transparent water above the given background, the water in the scene appears slightly dark. If this is not intended, then it would be useful to get an elevation scene background without the water

[2021-05-19 21:21] amanda-phet commented on #19
Thanks @SaurabhTotey . I am liking the color of the water. It matches the image above so I think that's what we want.

A few tweaks I might like to make though..
(1) The house and especially the person seem almost blurry, especially in the panel and legend. Do you have any ideas for how to make those more crisp? (I'm using Safari on an external monitor, if that matters). Sometimes when the resolut

[2021-05-19 21:23] amanda-phet opened #22 "Make the fish in the legend "swimming""
This is minor, but in the third scene, I'd like the fish to be swimming rather than flying.

Currently, both the bird and fish are flying:
<img width="188" alt="image" src="https://user-images.githubusercontent.com/7852916/118886367-13c26e00-b8b6-11eb-9e5c-d22a05a76829.png">

[2021-05-19 21:31] amanda-phet commented on #7
I'm not sure exactly how to interpret what you're saying... I think we talked about not scaling the arrowhead so that you can always see the direction it's pointing, not that we wanted custom solutions for different ranges (if I remember correctly).

I am OK with how it currently is working. Sometimes the arrowhead can get really small, but it seems OK to me.

[2021-05-19 21:34] amanda-phet opened #23 "layering of objects can hide one"
Currently the person can get lost behind the house. I think we have two choices:

(1) force the person to always be in "front" of the house
(2) Shift the person "down" a little bit so that if they get behind the house, we can grab their feet. We might want to do this in addition to (1) for perspective, since right now they are taller than the door.

Also, on the temperature scene, the two thermome

[2021-05-19 21:36] amanda-phet opened #24 "Can we shift the temperature play area down?"
Right now, the thermometers can cover the information on the number line. It seems like there is room to shift the entire gradient area down. Perhaps line it up with the bottom of the street in the house/person scene?

<img width="1043" alt="image" src="https://user-images.githubusercontent.com/7852916/118887722-f8586280-b8b7-11eb-9314-51bf854da2ce.png">

[2021-05-19 21:38] amanda-phet opened #25 "Keep radio button and checkbox selections when switching scenes"
This is kind of a question for the design team, but I find that when I change a setting either in the radio buttons or checkboxes, I want to keep that setting in all scenes. Can we have these as one state, rather than three different ones (one per scene)?

[2021-05-19 21:41] amanda-phet opened #26 "Make the distance statement wider"
I've noticed that the max width for the distance statement leads to a really small font size in this case:
<img width="383" alt="image" src="https://user-images.githubusercontent.com/7852916/118888093-6dc43300-b8b8-11eb-8d47-17fd9d9b70a7.png">

And in other cases, the font size seemed to change slightly, but really didn't seem like a necessary change. I suspect there is a max width for this string

[2021-05-19 21:45] amanda-phet opened #27 "Polish font size, weight, spacing, and symbols"
<img width="366" alt="image" src="https://user-images.githubusercontent.com/7852916/118888586-15416580-b8b9-11eb-86ce-4a5a65104a26.png">

<img width="365" alt="image" src="https://user-images.githubusercontent.com/7852916/118888569-0fe41b00-b8b9-11eb-9afc-fe999e24326b.png">

<img width="368" alt="image" src="https://user-images.githubusercontent.com/7852916/118888552-08247680-b8b9-11eb-9936-db5cbd

[2021-05-19 22:26] amanda-phet commented on #6
@SaurabhTotey this sounds like a perfect way to handle the string when the two points are in the same location!

I'll change the status of this issue so that I can see how users interpret point controllers at the same value.

[2021-05-20 09:30] SaurabhTotey commented on #19
I went ahead and implemented points 2 and 3 above. I am unable to see point 1 (the person and the house don't seem blurry to me), but that may be due to the not-terribly-high resolution of the laptop I am using. I did have to scale down the person and the house quite a bit in the code to make them a usable size in the sim, so smaller images may help.

[2021-05-20 09:32] SaurabhTotey commented on #22
I believe I have fixed this. If there is more work to be done regarding this, feel free to reopen and reassign.

[2021-05-20 09:32] #22 closed

[2021-05-20 09:39] SaurabhTotey commented on #24
I have shifted the temperature area down. I have currently just hardcoded values for the temperature area bounds such that its bottom happens to align with the bottom of the street in the first scene, so there is nothing in the code that enforces that they are the same. If we change the street's position, it doesn't affect the temperature area bounds, and vice-versa.

Assigning to @amanda-phet to

[2021-05-20 10:07] SaurabhTotey commented on #26
I have increased the maxWidth for the distance descriptions so that they allows for wider strings before decreasing font size. As far as I can tell, distance descriptions are now no longer decreasing their font size. Assigning to @amanda-phet to review and close if this is resolved.

[2021-05-21 07:57] SaurabhTotey commented on #23
I have implemented the first two points above. The pushing seems difficult, but I seem to recall something similar in NLI, so I will take a look and see how to go about that.

[2021-05-21 19:58] amanda-phet commented on #23
The layering and shifting looks great! I was thinking we'd just do one option, but I'm really liking both.

[2021-05-21 20:03] amanda-phet commented on #26
Looks good to me. Thank you!

[2021-05-21 20:03] #26 closed

[2021-05-21 20:04] amanda-phet commented on #24
Thanks, this is much better!

[2021-05-21 20:04] #24 closed

[2021-05-21 20:07] amanda-phet commented on #19
Thanks. (2) and (3) look great to me. I might want to improve the appearance of the road still for (2) but I will talk to Megan about that. For (1), let's wait and see how it looks on different devices when we get to QA.

[2021-05-21 20:07] #19 closed

[2021-05-25 10:05] SaurabhTotey commented on #23
I have implemented pushing in the temperature scene. Right now, a thermometer will push the other thermometer when they are the same x-value. The pushed thermometer either gets moved to the top quarter of the temperature area (in terms of height), the bottom quarter of the temperature area (in terms of height), or not at all, depending on which is furthest. Assigning to @amanda-phet to review.

[2021-05-27 08:36] SaurabhTotey commented on #18
I added these labels to the sim in a cursory manner, but it seems like something should be done when the points have the same value. Currently, I allow the labels to overlap, but that doesn't look too nice. Perhaps the labels should disappear when the points are at the same location? This doesn't solve issues like the labels still overlapping when the points are really close together in the [-100,

[2021-05-27 10:07] SaurabhTotey commented on #21
I was using the `NLCheckbox` from NLC, but I realized that I wasn't using `NLCheckboxGroup`, so I have now switched NLD over to using that so that these checkboxes should match what is being done in the other NL sims. I still need to adjust the distance description: it is currently so far up because the generic number line, when vertical, takes up most of the vertical space. I intend to reduce the

[2021-05-27 20:24] amanda-phet commented on #25
Discussed and decided we'd like to move forward with this request.

[2021-05-27 20:30] amanda-phet commented on #25
Nevermind, we discussed some more and prefer to keep this behavior consistent with NLI!

[2021-05-27 20:30] #25 closed

[2021-05-27 20:35] amanda-phet commented on #23
For consistency with other sims, and what feels natural to me, the thermometer that you're dragging (further to the front of the z-order) should be the one that jumps out of the way, not the thermometer that we are covering.

Also, the height of the jump could be a little smaller- try half as far.

[2021-05-27 20:41] amanda-phet commented on #7
Discussed in design 5/27/21 and we like the current behavior, no need to do a custom scaling. Thanks!

[2021-05-27 20:41] #7 closed

[2021-05-27 20:46] amanda-phet commented on #18
Can we add the same semi-transparent white background to these labels as we do for the point labels?

[2021-05-27 20:48] amanda-phet opened #28 "Move the vertical number line over a little"
<img width="193" alt="image" src="https://user-images.githubusercontent.com/7852916/119894908-70e3a280-befa-11eb-8776-199ca81a0c69.png">

The y1 and y2 labels are very close to the values on the number line. Can you shift the number line left a little bit? Hopefully the distance between the y1 and y2 labels can match what you have for the x1 and x2 labels on the other scenes.

[2021-05-27 21:01] amanda-phet opened #29 "Polishes to make more room in play area"
1. Move scene selection buttons down so that they are centered with the panel, and the same distance between the panel and the reset-all button.

<img width="969" alt="image" src="https://user-images.githubusercontent.com/7852916/119895961-9b822b00-befb-11eb-9e21-4d12ffb58c42.png">

2. Move sidewalk and temperature artwork down (this is 30 px lower in the rough mockup)

<img width="904" alt="image

[2021-05-28 09:14] SaurabhTotey commented on #18
I added the same semi-transparent background from the point labels to these point names.

[2021-05-28 09:16] SaurabhTotey commented on #23
I reworked the thermometer pushing so that the top-layered point controller gets pushed to the side of the temperature area that has more space. The thermometer only gets pushed half as far (1/8th the height of the temperature area) and will only get pushed if the pushing increases the distance between the point controllers.

[2021-05-28 09:18] SaurabhTotey commented on #28
I moved this vertical number line to the left a little.

[2021-05-28 09:20] SaurabhTotey commented on #29
I changed the location of the scene selection buttons to be centered between the right-center of the point controller box and the top-center of the reset button. I also moved the sidewalk and temperature area down a little more.

[2021-06-01 08:35] SaurabhTotey commented on #21
The distance description is now larger and has been moved down. I had to move down the vertical number line even more and also move down the elevation bounds so that the distance description has space. I still need to adjust the legend at the bottom left.

[2021-06-08 08:57] SaurabhTotey commented on #21
I have now made adjustments to all the legend items in the swap area at the bottom left.

I have made changes to address all of the items in this issue, so I will assign to @amanda-phet to review.

[2021-06-14 08:08] SaurabhTotey commented on #27
The distance statement now uses the same minus symbol for negatives as it does for subtraction. I have also put some more space after the equals sign. I don't think anything regarding the bolding is being changed, or at least, nothing in the `DistanceStatementNode` code intentionally affects the bolding. Assigning to @amanda-phet to review and point out next steps.

[2021-06-18 18:13] amanda-phet commented on #29
This all looks good to me. Thanks!

[2021-06-18 18:13] #29 closed

[2021-06-18 18:13] amanda-phet commented on #28
Thanks!

[2021-06-18 18:13] #28 closed

[2021-06-18 18:15] amanda-phet commented on #23
Looks really good to me, thank you

[2021-06-18 18:15] #23 closed

[2021-06-18 18:17] amanda-phet commented on #21
All looks good to me!

[2021-06-18 18:17] #21 closed

[2021-06-18 18:18] amanda-phet commented on #18
Looks great! Thank you!

[2021-06-18 18:18] #18 closed

[2021-06-18 18:21] amanda-phet commented on #27
Thanks, this is a huge improvement so far with the spacing and negatives.

It still seems like the subtraction and equal symbols are thinner than the rest. Do you see it here?
<img width="369" alt="image" src="https://user-images.githubusercontent.com/7852916/122602162-96faef00-d02f-11eb-89d1-51d1080ce974.png">

[2021-06-21 08:13] SaurabhTotey commented on #27
Oh, I see what you mean! I think that's caused by a difference caused by using PhetFont for one of those and MathSymbolFont for the other. I'll take a look and see if I can fix it!

[2021-06-21 08:45] SaurabhTotey commented on #27
Now the minus and equals signs also use PhetFont so as to match the appearance of the numbers.

[2021-06-23 20:07] SaurabhTotey opened #30 "branch: OverlapAttachDistance"
This was a branch for changes regarding https://github.com/phetsims/number-line-distance/issues/6. I was making changes so that overlapping point controllers would change their attach distance in the generic screen. The branch will be deleted if this change is not needed anymore, but I will wait until interviews are over before deleting it.

[2021-06-25 02:25] amanda-phet commented on #27
Thank you! I am really happy with how this looks now.

[2021-06-25 02:25] #27 closed

[2021-06-25 02:41] amanda-phet opened #31 "New artwork for house/person scene"
(1) I don't know how this happened, but I gave you the wrong image asset for the person. I will have to update ai files, but for now here is the correct PNG for the person.

(2) I have also created a background image for the scene. Ideally it is placed so that the house step lines up with the edge of the green grass (see this in the mockup below). I've also included the fire hydrant, but if that's

[2021-06-25 02:43] amanda-phet opened #32 "Make a dev version for interviews"
1. We need a dev version asap, since the last version was over 2 months ago. This should be done Friday 6/25/21 regardless of the status of any other polishes or changes to code.
2. We will need another dev version after implementing artwork and screen icons. This might happen Friday, or another day, but once #31 and #20 are done I'd like a version.

[2021-06-25 02:46] amanda-phet commented on #20
These are not official, but we decided we liked this direction:
![image](https://user-images.githubusercontent.com/7852916/123361957-2707cf80-d52d-11eb-8c79-cd08450cd331.png)

![image](https://user-images.githubusercontent.com/7852916/123361967-2bcc8380-d52d-11eb-9eaa-650c8ba5fc12.png)

TODO:
- [ ] adjust person's hand so the elbow is slightly more bent
- [ ] convert generic screenshot into vector

[2021-06-25 02:47] amanda-phet commented on #31
We also adjusted the perspective on the house, and I need to give you that new image.

[2021-06-25 15:36] SaurabhTotey commented on #32
Alright, https://phet-dev.colorado.edu/html/number-line-distance/1.0.0-dev.2/phet/number-line-distance_en_phet.html is the newest dev version. I will work on integrating #31 and #20 and I'll make a new dev version once those are integrated.

[2021-06-25 18:35] amanda-phet commented on #20
Here they are!
Large screen icon:
![explore-screen-icon](https://user-images.githubusercontent.com/7852916/123470436-a5a65080-d5b1-11eb-8633-80bc6cf74f9e.png)
Navbar icon:
![explore-navbar-icon](https://user-images.githubusercontent.com/7852916/123470138-39c3e800-d5b1-11eb-8a8c-9c58a90de5f5.png)

Large screen icon:
![generic-screen-icon](https://user-images.githubusercontent.com/7852916/123470142-

[2021-06-25 21:48] amanda-phet commented on #6
Conducted 2 interviews today, and there was no issue when the two point controllers had the same value. They seemed to interpret it perfectly.

[2021-06-25 21:49] amanda-phet commented on #10
I conducted two interviews today, and one student in particular noticed that it was the vertical distance between the objects when he had the bird and fish side by side. So far, I am not seeing any issues with the description on this screen.

[2021-06-25 21:51] amanda-phet commented on #13
One student found this in the interview! It would be good to get this done sooner rather than later, I would think.

[2021-06-25 22:25] amanda-phet opened #33 "increase space between radio buttons"
Can you increase the spacing between these radio buttons, just slightly?

![image](https://user-images.githubusercontent.com/7852916/123490685-ec0ba780-d5d1-11eb-91ff-8bc3c8efd85c.png)

Maybe they could look similar to the spacing of the checkboxes, if that looks ok to you.

[2021-06-28 11:06] #13 closed

[2021-06-28 11:35] SaurabhTotey commented on #20
I have added the icons, so I will close this issue. Feel free to reopen and reassign if there are new icons or anything else needs to be done.

[2021-06-28 11:35] #20 closed

[2021-06-28 13:43] SaurabhTotey commented on #33
I've increased the spacing. Before, the spacing was using the default value of 3, and I have increased that to 9. Assigning to @amanda-phet to review.

[2021-06-28 19:54] amanda-phet commented on #33
Looks great to me! Thank you!

[2021-06-28 19:54] #33 closed

[2021-06-29 16:35] amanda-phet commented on #31
It's looking great @SaurabhTotey .

When you changed the artwork for the person, she got smaller. Is it possible to resize her so she's more like the size in previous versions? If it's due to the artwork I exported, let me know how I should change the size.

Previous size:
![image](https://user-images.githubusercontent.com/7852916/123835435-c3332d00-d8c5-11eb-90d1-f7b031c17fa4.png)

Current:
![ima

[2021-06-29 17:00] SaurabhTotey commented on #31
It seems like the new person artwork is indeed smaller than the previous person artwork, but I can scale up the image within the code. I have scaled the person up so that their head now nearly reaches the top of the door. Is this size good, and if so, should I make a new dev version with this change?

[2021-06-30 16:50] amanda-phet commented on #31
Looks great, thanks. We can wait on a new dev version until you have any other changes that you'd like reflected in the next version.

[2021-06-30 16:50] #31 closed

[2021-06-30 16:51] amanda-phet commented on #32
We have enough versions now and interview are almost complete.

[2021-06-30 16:51] #32 closed

[2021-06-30 23:01] amanda-phet commented on #6
Interviews are now complete and I didn't see any issues here!

[2021-06-30 23:01] #6 closed

[2021-06-30 23:04] amanda-phet commented on #10
Finished with interviews. I specifically asked a student today about this scene and he correctly interpreted exactly what was happening. I asked because at one point he had the fish and bird just 1-2 m away vertically, but quite far horizontally, and he said "huh". So after the interview, I asked about it, and there was no issue with interpretation.

[2021-06-30 23:04] #10 closed

[2021-06-30 23:06] amanda-phet opened #34 "Make objects fly to the play area instead of the panel, if released above the play area"
A few times in interviews it seemed like students were releasing objects directly on the number line, and the object would fly right back to the panel. That makes me think that in that case, if they are released above the play area (or even to the sides, because the number line is to the left of the bird/fish scene), they should fly to the nearest location in the "play area" rather than fly all th

[2021-07-02 19:42] jbphet opened #35 "Code Review"
We're getting close to the point where the code will be ready for the pre-publication review.  Below is the standard code review checklist, which is used to drive the process.

---

# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌ and note any related GitHub issues.
* Call attention to items with ⚠️ and note any related GitHub issues.
* Mark items that are not applicable with

[2021-07-02 19:44] jbphet commented on #35
@kathy-phet said she will choose someone for this review.  Our plan is to have the code ready for review by July 12th 2021.

We discussed who might be available to do this review during the 7/1/2021 developer meeting, and @jessegreenberg and @zepumph both said that they would be up for it, since they haven't done any reviews for a while.  @pixelzoom also said he could probably do it in a couple of

[2021-07-02 19:47] jbphet commented on #35
@SaurabhTotey - I'm going to assign this to you initially to fill in the portions in the opening comment above that say "see {{GITHUB_ISSUE_LINK}}".  You'll create issues as needed for these.  You can look in number-line-operations for examples of each if you like, and you can start from [the code review issue for that sim](https://github.com/phetsims/number-line-operations/issues/35).

Once you'v

[2021-07-06 15:16] SaurabhTotey opened #36 "Memory Test for phet brand"
Standard code review issue. Created for #35. I'll perform the memory test and put the data here soon.

[2021-07-06 15:18] SaurabhTotey opened #37 "Performance Test and Sign-Off"
Standard code review issue. Created for #35.

[2021-07-06 15:19] SaurabhTotey opened #38 "Review Pointer Areas"
Standard code review issue. Created for #35.

[2021-07-06 15:20] SaurabhTotey opened #39 "Finalize Credits"
Standard code review issue created for #35. Should be addressed before publication.

[2021-07-06 22:11] SaurabhTotey commented on #30
This feature is no longer desired so I have deleted the branch.

[2021-07-06 22:11] #30 closed

[2021-07-08 19:41] amanda-phet opened #40 "Add x2 and x1 labels to distance statement"
In our discussion 7/8/21, we decided that it would be helpful to keep x2 and x1 labels in the distance statement somehow. This is most important in the Explore screen, but ideally it will be in both.

This is what we are thinking, and to accommodate it on both screens, we might need to make the overall accordion box taller, but not by too much.

Startup:
![image](https://user-images.githubusercont

[2021-07-09 02:32] pixelzoom commented on #35
@kathy-phet Slacked me:

@SaurabhTotey @jbphet When this sim is ready to be code reviewed, please assign this issue to me.

[2021-07-09 02:36] pixelzoom commented on #35
I don't see a "self code review" issue like https://github.com/phetsims/natural-selection/issues/193 for this sim.  Maybe you've gone through the CRC (Code Review Checklist) yourself informally, without using an issue. In any case, please don't assign this issue to me until you've made a pass through the CRC yourself.

[2021-07-09 02:49] pixelzoom commented on #35
The first section of the CRC above is:

According to the instructions, the first 3 issues need to be completed before code review.

[2021-07-10 15:42] SaurabhTotey commented on #34
I have implemented this feature so that in the explore scenes, the point controllers will drop to the play area when above the play area in the first two scenes or to the left of the play area in the last scene. Assigning to @amanda-phet for feedback.

[2021-07-10 15:47] SaurabhTotey commented on #35
I seem to be running a little behind the deadlines, but hopefully (fingers crossed) I'll be able to get this ready for review next week. I'll assign @pixelzoom once I have done a self CRC and once the first 3 of the 4 above issues has been checked off.

[2021-07-13 16:46] SaurabhTotey commented on #36
First run: Tested using the built_all_debug version from master, SHA was 3a7c86f731fb68ffa3882c10b835ce8c75969055, common code was whatever was on master today, 07/13/2021.

Test | Memory Usage (MB)
--- | ---
Immediately after load, no fuzzing | 22.1
Load, visit each screen, then back to home screen, no fuzzing | 22.6
After 1 min of fuzz | 27.8
After 2 min of fuzz | 28.6
After 3 min of fuzz | 28.6

[2021-07-13 17:05] SaurabhTotey commented on #38
Worked with @jbphet to look through pointer areas and make some updates. Assigning to @amanda-phet to review.

[2021-07-13 17:06] SaurabhTotey commented on #37
This seems ready for review. Assigning to @amanda-phet to review.

[2021-07-13 17:14] jbphet commented on #35
I just Slacked this message to @pixelzoom, @amanda-phet, and @kathy-phet:

[2021-07-13 20:46] #11 closed

[2021-07-13 22:24] KatieWoe commented on #37
@amanda-phet and I were looking at this, and I can take a look if needed, but neither of us are sure what is called for here or what this test entails. Can you please clarify?

[2021-07-13 22:25] amanda-phet commented on #37
@SaurabhTotey I just wanted to clarify what you are looking for here. Should I ask @KatieWoe to do a performance test?

[2021-07-13 22:26] amanda-phet commented on #37
I'd also like to add that I have this sim open right now from bayes and it's using 70% of my CPU! But I haven't seen issues with past dev versions.

[2021-07-14 06:43] SaurabhTotey commented on #37
Oh, my apologies, I wasn't clear at all! I believe you just need to ensure that the performance is adequate for this simulation, or do whatever was done for https://github.com/phetsims/number-line-operations/issues/18. I can make another dev version if that is helpful.

[2021-07-15 18:28] amanda-phet commented on #37
@SaurabhTotey I think a dev version would be great. Not urgent, but perhaps when you feel ready to make another one. Thanks!

[2021-07-16 11:18] SaurabhTotey commented on #37
Not a problem, I just created https://phet-dev.colorado.edu/html/number-line-distance/1.0.0-dev.5/phet/number-line-distance_en_phet.html.

[2021-07-16 13:56] SaurabhTotey commented on #40
Alright, I have added the labels and shortened the absolute value marks. Assigning to @amanda-phet to review.

[2021-07-16 17:53] amanda-phet commented on #40
Awesome! I think they look great.

[2021-07-16 17:53] #40 closed

[2021-07-16 18:02] amanda-phet commented on #34
Sorry for not replying earlier.. I tested this out right away and thought it looked good, but also noticed a bug that has come with this change and wanted to write it up for you. I'll create a new issue for the bug. Thanks!

[2021-07-16 18:02] #34 closed

[2021-07-16 18:03] amanda-phet opened #41 "Dropping an object near the number line sometimes results in incorrectly aligned object and dot"
Related to https://github.com/phetsims/number-line-distance/issues/34

When I drop an object in this new expanded region (ie, not directly in the final play area), the dot on the number line is often not right where it should be. I do not notice this in the house scene, only in the temperature and bird scenes.

Here's an example:
![image](https://user-images.githubusercontent.com/7852916/125989854

[2021-07-16 18:07] amanda-phet commented on #38
Can we expand the cursor area (the blue region) for the person? Usually the bounds of the png are fine for a cursor, but in this case the person is quite small.

![image](https://user-images.githubusercontent.com/7852916/125990513-8440911b-c21e-4d71-840f-00acbe08ae89.png)

Maybe something like this?
![image](https://user-images.githubusercontent.com/7852916/125990642-ed9413da-15a1-4254-af5d-8d7e8f

[2021-07-16 18:22] amanda-phet commented on #37
Performance seems just fine!

[2021-07-16 18:22] #37 closed

[2021-07-17 14:23] SaurabhTotey commented on #41
This was a subtle bug, but I believe the latest commits should now have fixed this. Assigning to @amanda-phet to review.

[2021-07-17 14:35] SaurabhTotey commented on #38
I have slightly extended the mouse area for the person point controller. Assigning to @amanda-phet to review.

[2021-07-18 11:19] SaurabhTotey opened #42 "Self CRC"
# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌ and note any related GitHub issues.
* Call attention to items with ⚠️ and note any related GitHub issues.
* Mark items that are not applicable with **N/A**

## GitHub Issues

The following standard GitHub issues should exist. _If these issues are missing, or have not been completed, pause code review until the issues have been

[2021-07-18 14:09] SaurabhTotey commented on #42
I definitely may have missed violations of this checklist, but the only egregious items are those relating to pointer areas and to color profiles.

[2021-07-19 19:11] SaurabhTotey commented on #35
I will assign this to @pixelzoom now. The pointer areas issue has yet to be checked off, but I addressed the issue pointed out and any further changes should not require major code changes.

[2021-07-19 19:14] pixelzoom commented on #36
I agree, looks reasonable. QA will verify again during dev/RC testing, as part of their standard procedures, so I won't spend time re-running tests.  Closing.

[2021-07-19 19:14] #36 closed

[2021-07-19 19:17] pixelzoom commented on #39
As of code review https://github.com/phetsims/number-line-distance/issues/35, the credits are completed empty.  It would be good to take a stab at filling these in before the first dev test.  At this point in the development, you should know everything except QA credits.

[2021-07-19 19:52] amanda-phet commented on #38
Thank you! I think this is a nice improvement.

[2021-07-19 19:53] amanda-phet commented on #41
This looks fixed to me. Thanks!

[2021-07-19 19:53] #41 closed

[2021-07-19 19:54] pixelzoom opened #43 "Suggestions for implementation-notes.md"
Related to code review, https://github.com/phetsims/number-line-distance/issues/35

implementation-notes.md is generally very good.  A few suggestions for improvements:

- [x] Use uppercase for screen and scene names, because that's how they are labeled.  And you've used uppercase in model.md.  E.g. "...the Explore screen..." versus "...the explore screen..."
- [x] Provide links to  the .js files

[2021-07-19 19:55] pixelzoom commented on #43
I made several of these improvements in the above commit, checked off in the checklist above. I'll leave it up to you to decide whether to add links to .js files.

[2021-07-19 20:05] pixelzoom opened #44 "Review model.md"
From https://github.com/phetsims/number-line-distance/issues/35 code review:

This is not something that should be evaluated by a developer.  I typically create an issue, and have the lead designer decide whether the description is sufficient, and in terms that are appropriate for teachers.

I don't see any previous such issue for this sim, so creating this one, and assigning to @amanda-phet.  If

[2021-07-19 20:10] pixelzoom commented on #38
Reopening.  While playing with the sim on a MacBook Pro, I find the thermometers in the Explore screen to be a bit difficult to grab, especialy by their glass tube.  @amanda-phet do you think it would be OK to expand mouseArea for these?

[2021-07-19 20:15] pixelzoom commented on #38
The touchAreas for points in the Generic screen look wrong, see below.  I'm guessing that you have an invisible label below the point, which appears when you put a point on the number line.   You can fix this by setting the pointer areas based on visibleBounds instead of localBounds, and adjusting when visibleBoundsProperty changes.

<img width="411" alt="screenshot_1067" src="https://user-images.

[2021-07-19 20:16] amanda-phet commented on #38
Sure! I think it is fine to have those be larger.

[2021-07-19 20:17] amanda-phet commented on #38
These touch areas were expanded in previous number line sims so you can easily hold the point a bit lower. I can't remember if it was PhET team members or students in interviews, but someone was having trouble grabbing these, and the expanded areas seem to be working well.

[2021-07-19 20:18] pixelzoom commented on #38
OK! Then please ignore that bit of feedback.

[2021-07-19 20:27] pixelzoom opened #45 "defaultCelsius query parameter doesn't work."
For code review https://github.com/phetsims/number-line-distance/issues/35

NLQueryParameter.js has this query parameter:

[code]

The documentation indicates that it should start in Fahrenheit, but I couldn't get this to work in NL:D.  With or without `?defaultCelsius`, it always started up in Celsius.

[2021-07-19 20:35] pixelzoom opened #46 "Point labels overlap image with stringTest=long"
For code review #35.

Not sure if this is worth addressing. But with `?stringTest=long` in the Elevation scene, the point labels overlap the picture of the ocean/sky.

<img width="934" alt="screenshot_1071" src="https://user-images.githubusercontent.com/3046552/126223717-654df298-420a-42f7-ab19-7b52c7502bad.png">

[2021-07-19 20:46] pixelzoom opened #47 "Improvements to strings file"
From code review #35:

Here are some recommend changes.

---

- [ ] "degreesCelsius" value

In number-line-distance-strings_en.json:

[code]

(1) There should be no space between '°' and 'C'.  The symbol for "degrees Celsius" is "°C", see https://en.wikipedia.org/wiki/Celsius.

(2) We typically do not put Unicode characters like '°' in files.  We use Unicode escapes, to keep the files UTF8-compati

[2021-07-19 20:47] amanda-phet commented on #44
Thanks @pixelzoom . Reviewed and edited. @SaurabhTotey if the changes look ok to you, please close.

[2021-07-19 20:52] amanda-phet commented on #46
These labels should never be longer than 2 characters, so i'm not sure what the best route is to make sure this isn't an issue in the extremely unlikely scenario that someone puts in a long string here. Should we leave this as-is? Or is it better to have a max-width for the string?

[2021-07-19 20:56] amanda-phet commented on #45
Ah, we should not have this query parameter. This sim should always be in Celsius! @SaurabhTotey , can you remove it?

I suppose we could have this scene in F, with the number line range being -58 to 122, but I think we wanted Celsius so that 0 was always in the center of the number line.

[2021-07-19 20:56] pixelzoom opened #48 "This sim does not have a color profile."
For code review #35:

profile. See https://github.com/phetsims/scenery-phet/issues/642.

While https://github.com/phetsims/scenery-phet/issues/642 is the general issue, I'm creating this sim-specific issue, so that the team can decide whether to create a color profile this late in the game.

Note that there will no longer be a ColorProfile class, and sims should use the new pattern that @samreid h

[2021-07-19 20:58] pixelzoom commented on #45
Sorry, there's really nothing to remove or change here. I was looking at NLIQueryParameters, thought I was looking at something in number-line-common.    There is no NLDQueryParameters, so this can probably be closed.

[2021-07-19 21:03] pixelzoom commented on #46
@amanda-phet said:

One of those 2 characters is always _x_ or _y_. They are translatable, and there's no way to enforce that they are a single character (because one glyph can require multiple bytes, depending on locale).

Also note that the penguin can overlap the point label, even in default English, see below.  You have lots of horizontal space to work with, why not use it?

<img width="259" a

[2021-07-19 21:21] pixelzoom opened #49 "property vs Property"
For code review #35:

Code comments appear to refer to "properties" when they mean "Properties".

This was also flagged in #43 for implementation-notes.md.

[2021-07-19 21:44] pixelzoom opened #50 "Use isValidValue to validate, instead of an observer."
From code review #35:

In AbstractNLDBaseModel.js:

[code]

The `pointValuesProperty` observer can be replaced with something like:

[code]

or a more complete/correct validation:

[code]

[2021-07-19 21:48] pixelzoom opened #51 "Should TemperaturePointController colorProperty be a DerivedProperty?"
From code review #35:

In TemperaturePointController.js:

[code]
`
The only place that I see `colorProperty.value` set is in this observer.  So it seems like `colorProperty ` should be derived, something like:

[code]

[2021-07-20 00:28] pixelzoom opened #52 "Observer parameter name doesn't match dependency name in multilink."
For code review #35.

In miltilinks, parameter names in the observer function should match the names of the dependencies.

In DistanceShadedNumberLineNode.js

[code]

Parameter `isPrimaryNodeSwapped` doesn't match dependency `model.isPrimaryControllerSwappedProperty`. Consider renaming to `isPrimaryControllerSwapped`.

[2021-07-20 00:34] pixelzoom opened #53 "Avoid valueProperties.concat in multilink."
For code review #35.

In DistanceStatementNode.js:

[code]

The way that the dependencies array is set up is feels kind of dangerous, and is not at all obvious. `valueProperties` is defined far away, I have to do looking for it.  The number of dependenceis does not obviously equal the number of parameters in the observer. And it assumes that `valueProperties` will forever contain only 2 NumberProp

[2021-07-20 02:16] pixelzoom commented on #52
Same problem in NLDBaseView.js:

[code]

[2021-07-20 02:19] pixelzoom commented on #48
Looks like a color profile was added today in https://github.com/phetsims/number-line-distance/commit/1be4c485cba481216878a4a87d5db9d9e689f684/.

[2021-07-20 02:52] pixelzoom opened #54 "Duplication in Scene view classes."
For code review #35.

There's a bit of dupliction in DistanceSceneView, ElevationSceneView, and TemperatureSceneView. You might consider factoring the commonalities out into a NLDSceneView base class.

The bits that they have in common are:

* `this.baseView`
* some background imagery
* a `numberLineNode`
* a `pointControllerNodeLayer`
* Their `reset` methods are identical.

Or maybe the base clas

[2021-07-20 03:07] pixelzoom opened #55 "NLDScene enumeration is unnecessary."
In NLDExploreModel, you have:

[code]

And then in NLDExploreScreenView, you do this:

[code]

But there's really no need for a separate enumeration, you could just use the scene instances as the values for ` this.selectedSceneProperty`.  In NLDExploreModel:

[code]

Then either add a `this.model` field to each *SceneView subclass and do this in NLDExploreScreenView:

[code]

Or pass `model.select

[2021-07-20 03:22] pixelzoom commented on #35
Code review is done, back to @SaurabhTotey.

Overall, the sim is in great shape - nice job!

I've created some issues, linked above, and I'll leave it to you to decide which ones to address, what their priority is, etc.

Let me know if you have any questions.

[2021-07-20 16:37] SaurabhTotey commented on #38
I have dilated the `TemperaturePointControllerNode`s mouseArea. I'll leave the issue assigned to @amanda-phet.

[2021-07-20 16:38] SaurabhTotey commented on #42
https://github.com/phetsims/number-line-distance/issues/35 is the main code review, so I will close this issue.

[2021-07-20 16:38] #42 closed

[2021-07-20 17:12] SaurabhTotey commented on #43
I added links, so I'll close this issue now.

[2021-07-20 17:12] #43 closed

[2021-07-20 17:13] SaurabhTotey commented on #44
Everything seems good to me!

[2021-07-20 17:13] #44 closed

[2021-07-20 17:14] SaurabhTotey commented on #45
Alright, I'll close this issue then.

[2021-07-20 17:14] #45 closed

[2021-07-20 17:29] SaurabhTotey commented on #47
I have implemented both of the suggested changes. I will close this issue.

[2021-07-20 17:29] #47 closed

[2021-07-20 17:32] SaurabhTotey commented on #48
Since there is now a color profile, I will close this issue.

[2021-07-20 17:32] #48 closed

[2021-07-20 17:41] SaurabhTotey commented on #50
I implemented the second option, but I tweaked it so that it didn't fail on null values in the array. I'll close this issue, but feel free to reopen if something more should be done.

[2021-07-20 17:41] #50 closed

[2021-07-20 17:46] SaurabhTotey commented on #51
The colorProperty should indeed be a DerivedProperty, so I made that change.

[2021-07-20 17:46] #51 closed

[2021-07-20 17:52] SaurabhTotey commented on #52
I fixed the names, so I will close this issue.

[2021-07-20 17:52] #52 closed

[2021-07-20 17:57] SaurabhTotey commented on #53
I made the change, so I will close this issue.

[2021-07-20 17:57] #53 closed

[2021-07-20 17:58] pixelzoom opened #56 "Use assert more liberally in the future."
From code review #35:

_@pixelzoom: I'm a little surprised to find only 8 uses of `assert`. But there's only ~2900 lines of code here. Still, I'd encourage you to consider using `assert` more liberally in future code._

I meant to create an issue for this, and just realized that I had not done so.  There's nothing that you need to do for this sim.  You can simply close this issue after reading it.

[2021-07-20 20:23] SaurabhTotey commented on #56
Alright, sounds good. I'll keep this in mind for the future. Thanks for the heads up!

[2021-07-20 20:23] #56 closed

[2021-07-20 20:35] SaurabhTotey commented on #46
I've reduced the maxWidth of the point names so that they no longer overlap with the elevation play area on `stringTest=long`, but I haven't moved the play area or number line yet. I'll leave this issue assigned to @amanda-phet for feedback on what to do.

[2021-07-20 21:20] SaurabhTotey commented on #54
I made an NLDSceneView as suggested here, but I made the superclass create the `NLDBaseView` and the `DistanceShadedNumberLineNode`. I will close this issue, but feel free to reopen if there is more work to be done.

[2021-07-20 21:20] #54 closed

[2021-07-20 21:32] pixelzoom commented on #54
👍🏻 This looks very nice.

[2021-07-20 21:46] SaurabhTotey commented on #55
I have reworked the property to now store the scene model, and the view now sets the visible scene view to the one that has the selected model (as suggested in the first solution). I'm closing this issue, but feel free to reopen if there's more to do.

[2021-07-20 21:46] #55 closed

[2021-07-21 08:17] SaurabhTotey commented on #49
I believe I changed all incorrect usages. I'm closing this issue, but please reopen if I missed anything.

[2021-07-21 08:17] #49 closed

[2021-07-21 20:29] amanda-phet commented on #46
Thanks @SaurabhTotey. Using maxWidth is what I had in mind as a possible fix, but I wasn't sure what all of the options were.

As for moving the number line.. we can probably move it all over 10px, but not much more because things can get fairly crowded down here
![image](https://user-images.githubusercontent.com/7852916/126555525-4090aaf3-a9de-4e93-905a-b3cf5fc7e7c3.png)

I can really go either w

[2021-07-21 20:31] amanda-phet commented on #38
That works for me.

[2021-07-21 20:31] #38 closed

[2021-07-21 21:50] SaurabhTotey commented on #46
Alright, I moved the elevation scene number line to the left. Assigning back to @amanda-phet.

[2021-07-21 22:01] amanda-phet commented on #46
Thanks. That looks good to me!

[2021-07-21 22:01] #46 closed

[2021-07-22 07:51] SaurabhTotey commented on #35
Now that all the code review issues have been closed, I will close this issue.

[2021-07-22 07:51] #35 closed

[2021-07-22 18:31] DevonQui opened #57 "Incorrect Wording on Explore tab for Fish and Bird Scene?"
**Test device**
MacBook Pro

**Operating System**
11.4

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/qa/issues/675

In the fish and bird scene of the Explore tab I noticed that Absolute Value Distance Description said "The fish and the bird have a vertical DISTANCE of X meters" whereas the other two scenes are "The house and the person are X meters APART" and

[2021-07-22 19:42] jbphet commented on #57
This seems like a design question.  Assigning to @amanda-phet.

[2021-07-23 00:43] Nancy-Salpepi opened #58 "Thermometers aren't aligned with x values in the number line above"
**Test device**
MacBook Air

**Operating System**
 os 11.4

**Browser**
safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/675

In the temperature scene, the thermometers aren't aligned with the number line above. Because of this, the thermometer needs to be moved beyond the picture in order to obtain the maximum temperature value.

**Steps to reproduce**
1. Select the ex

[2021-07-23 15:36] jbphet commented on #58
The alignment is with the point of the triangle, so the behavior of the sim is correct based on the intended design.

@amanda-phet - I think I recall that this has come up before.  I thought I'd assign this to you as a data point.  Feel free to close, but maybe there is some tweak to the design that would make it more obvious what's going on here, like some sort of connection between the triangle

[2021-07-23 17:30] amanda-phet commented on #58
I wanted to sit with this for a bit, because yes this is functioning correctly, but since it came up in one interview as well, I am thinking this design doesn't work so well in this 1D space.

I have two ideas.

(1) We remove the `TemperatureAndColorSensorNode` (the triangle) and instead read the temperature from the middle of the thermometer. I think this is close to how a thermometer functions i

[2021-07-23 19:29] SaurabhTotey commented on #58
The first option would make more visual sense to me personally. However, the first option has the unfortunate side-effect of removing the temperature color display for thermometers (red for hot, blue for cold, etc.) which I like. Regardless, I still prefer the first option because I occasionally still accidentally misjudge a thermometer's position.

[2021-07-23 20:02] amanda-phet commented on #58
@SaurabhTotey let's go ahead with option (1) then. Thanks for your input!

[2021-07-23 20:25] KatieWoe opened #59 "Arrow of bottom thermometer can be hard to grab"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/675. When one thermometer is over another, but lower on the screen, its pointer area can cover the other's arrow, while it still looks grabbable. This can make it hard to grab the intended thermometer.

**Visuals**
![grabunderarrow](https://user-images.githubusercon

[2021-07-23 21:32] amanda-phet commented on #57
Thanks for bringing this up @DevonQui . We definitely struggled with the language in the third scene, but since I specifically made sure students interpreted it correctly in interviews, I'm inclined to leave all of the language as it is. Also, each scene is a new context and needs contextual language, and doesn't need to be 100% the same.

Closing without making any changes.

[2021-07-23 21:32] #57 closed

[2021-07-26 17:14] stemilymill opened #60 "Layering house and fire hydrant causes fire hydrant to be partially hidden by shrub"
For https://github.com/phetsims/qa/issues/675.

In the Explore screen, house & person scene, the house being placed at -1 or 1 causes all but the very bottom of the fire hydrant to be hidden by the bush part of the house icon.

Should the fire hydrant be completely hidden when the house is in those locations? Or should the fire hydrant be in front of the house / just behind the sidewalk?

![house

[2021-07-26 17:26] jbphet commented on #58
I agree that just making the center of the thermometer be the measuring point will likely improve our users' perceptions about this.

[2021-07-26 21:26] SaurabhTotey commented on #58
I have replaced the usage of `TemperatureAndColorSensorNode` with `ThermometerNode`. Assigning to @amanda-phet to review.

[2021-07-26 21:27] SaurabhTotey commented on #59
This issue seems related to https://github.com/phetsims/number-line-distance/issues/58.

[2021-07-26 21:33] KatieWoe commented on #59
I'm not sure. I think it has to do with overlapping pointer areas.

[2021-07-27 15:59] SaurabhTotey commented on #59
Apologies, I didn't explain myself. If the change to remove the triangle (as proposed in https://github.com/phetsims/number-line-distance/issues/58) goes through, then this issue should also not be problematic if I'm understanding correctly.

[2021-07-29 19:42] amanda-phet commented on #58
I like it! Thanks for making that change.

[2021-07-29 19:42] #58 closed

[2021-07-29 19:43] amanda-phet commented on #59
The pointer areas for the top thermometer is going to be grabbed, so in that video I would expect the green one to be grabbed. Since we removed that triangle, I think this won't be an issue anymore (where the user might expect to be able to grab the triangle that is layered in the back).

[2021-07-29 19:44] amanda-phet commented on #60
@SaurabhTotey could we nudge the hydrant up a few pixels so that it will be completely covered by the shrubs in this case?

[2021-07-29 22:05] SaurabhTotey commented on #60
I moved the fire hydrant up so that it no longer visible under the shrubs when the house is partially covering it. I will close this issue, but feel free to reopen if there is anything more that needs to be done.

[2021-07-29 22:05] #60 closed

[2021-07-30 17:01] SaurabhTotey commented on #39
Hey @amanda-phet, an [RC](https://phet-dev.colorado.edu/html/number-line-distance/1.0.0-rc.1/phet/number-line-distance_en_phet.html) was recently created with an attempt at filling out credits. Do these credits look good to you?

[2021-07-30 17:07] jbphet commented on #39
When asked about credits for graphic arts, @amanda-phet said (over Slack):

When asked about other designers, she said:

[2021-08-02 12:31] Nancy-Salpepi opened #61 "Thermometers cover x1 and x2 labels"
https://github.com/phetsims/qa/issues/683

Since the pointers were removed, the thermometers now have the ability to cover the x1 and x2 labels below the number line.

<img width="559" alt="Screen Shot 2021-08-02 at 8 21 11 AM" src="https://user-images.githubusercontent.com/87318828/127861817-5d449a9c-ec7e-4198-a8d1-998ab80430fb.png">

[2021-08-02 16:57] Nancy-Salpepi commented on #59
I also had the same issue when the bird and fish were overlapping. I thought I was grabbing the fish head, but it moved the bird. When I tried to grab the bird's wing, it moved the fish. Not sure if this is a concern, but I figured I would open the issue again.

https://drive.google.com/file/d/1hPy369QTlDE_1XyHhtyAv8EPVIcUvDHL/view?usp=sharing

[2021-08-02 18:07] amanda-phet commented on #61
I knew this would be possible, and it's related to a change we made in https://github.com/phetsims/number-line-distance/issues/24 . I don't think we want to create even more space between the number line and play area (or else they seem too disconnected) so I am ok with this edge case. There are other ways to know which one is x1 and x2, in this case.

Thanks for documenting this @Nancy-Salpepi

[2021-08-02 18:07] #61 closed

[2021-08-02 18:11] amanda-phet commented on #59
@SaurabhTotey is this an issue because the touch areas are rectangular? Can we make custom touch areas that are closer to the shape of the object?

[2021-08-02 20:34] Nancy-Salpepi opened #62 "Black dot appears on the left side of description statement when distance between balls changes from 0 to 1"
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/683

When moving one of the balls up/down so that the distance between the balls changes from 0 to 1 (or 2-->1 or 10-->9), a black dot appears on the screen at the beginning of the distance description. It seems to be the black dot on the tail o

[2021-08-03 15:03] Nancy-Salpepi commented on #62
Also seen using my iPhone

[2021-08-03 16:23] SaurabhTotey commented on #59
I talked with @jbphet, and while it is possible to use different shapes for touch areas, it's pretty tricky to use something more elaborate for an image and probably not worth it. This apparently comes up in other simulations as well, and when it's an image, we generally just use rectangular bounds.

[2021-08-03 16:24] SaurabhTotey commented on #59
@amanda-phet unless you feel strongly, it seems like nothing will be done on this issue. Let us know your thoughts.

[2021-08-03 18:08] amanda-phet commented on #59
Yes I've seen this in other sims as well, and agree we typically use rectangular bounds. Luckily in this sim, we have provided a generous play area to work in, so the objects don't need to be very close to use the sim. Thanks for checking!

[2021-08-03 18:08] #59 closed

[2021-08-03 19:44] Nancy-Salpepi opened #63 "X label covers "Points off scale!" statement"
**Test device**
iMac

**Operating System**
10.15.7

**Browser**
chrome 92.0.4515.107
(also happens in other platforms)

**Problem description**
https://github.com/phetsims/qa/issues/683

In the generic screen, if a ball is on a value of 9 and the number picker is then used to increase the value of the other ball until it is off the scale, the X label will cover the "Points off Scale!" statement. I

[2021-08-03 19:50] Nancy-Salpepi commented on #63
It obviously happens in other instances, but I thought it was most relevant when the "points off scale" statement first appears on the screen.

[2021-08-03 20:44] Nancy-Salpepi opened #64 "Some items unclear in Iframe"
**Test device**
iMac

**Operating System**
10.15.7

**Browser**
Chrome 92.0.4515.107

**Problem description**
https://github.com/phetsims/qa/issues/683

The house and girl are not as clear in the Iframe as in the original sim. If I zoom in, those items become much clearer.

Here is a side-by-side comparison of the Iframe and the sim:

![Screen Shot 2021-08-03 at 4 36 35 PM](https://user-images.git

[2021-08-03 21:46] amanda-phet commented on #63
Can you list all of the instances where there is an overlap issue? Or do you mean the other instances could just involve different values, but it's the same issue: the label covers the statement.

@SaurabhTotey I think we should shift the "points off scale" message so that it's below the labels, and also to the right in the vertical case.

![image](https://user-images.githubusercontent.com/7852916

[2021-08-03 22:02] samreid commented on #62
It looks like the “y” draws part of the tail outside its bounding box, so that area is not marked for repaint.

[2021-08-03 22:05] samreid commented on #62
May be related to usage of MathSymbolFont?

[2021-08-03 23:23] amanda-phet commented on #62
https://github.com/phetsims/scenery-phet/issues/689 was created to track this scenery-phet issue. This issue does not block publication, and will hopefully get resolved later on a global scale.

[2021-08-03 23:23] #62 closed

[2021-08-04 11:10] Nancy-Salpepi commented on #63
Yes, what I meant is that is could be different values, or that the overlap happens with the "points off scale" message already on the screen and then the ball with its label moving over it (instead of the ball being there first and then the message appearing).

[2021-08-04 17:09] stemilymill commented on #63
Another instance of x labels overlapping other things is in the explore screen, for the house/girl scene and thermometer scene, the x labels overlap the 0 on the number line.

![x1 x2 labels overlap number line numbers zoom](https://user-images.githubusercontent.com/85511101/128224257-0765d921-ad7b-4bcb-b74e-e6c337f74c55.jpg)

[2021-08-04 18:45] KatieWoe opened #65 "LoL no longer pauses fully"
For https://github.com/phetsims/qa/issues/683. Connected to https://github.com/phetsims/special-ops/issues/182, in which the sim did not appear properly paused. However, now items are interactable during this pause. This was seen with the Legends of Learning harness on 8/4/21.
@kathy-phet if this is a harness issue we may need to contact Legends of Learning again.
![notpausedlol](https://user-imag

[2021-08-05 17:32] stemilymill commented on #63
@amanda-phet I also found that on iPad + safari, in the house/girl scene and the thermometer scene, the x labels slightly overlap with all the numbers on the number line.

![ipad x label overlap all number](https://user-images.githubusercontent.com/85511101/128394884-72fdd1c2-c424-48f0-913b-1823d3b360b3.png)

iPadOS version: 14.7.1

[2021-08-05 18:48] amanda-phet commented on #25
@KatieWoe brought up this concern while doing dev testing, so I wanted it noted here that we discussed it.

[2021-08-05 19:49] amanda-phet commented on #64
At small window sizes, I've noticed that the house and person will be blurry, so I don't think this is specific to i-frame.

This might be fixable with mipmaps.

[2021-08-05 19:55] jbphet commented on #65
This doesn't appear to be a sim-specific issue, and there is already a general issue for the problem, see https://github.com/phetsims/special-ops/issues/182.  In that issue @kathy-phet says that it shouldn't block publication, and also that she'd contacted LoL and will report back.

Because this is not sim-specific, isn't blocking, and is being tracked elsewhere, I'm going to close this issue.

[2021-08-05 19:55] amanda-phet commented on #65
Is this sim-specific, or related to the lol harness? Seems like it is a LoL issue, so I think this should be resolved over in https://github.com/phetsims/special-ops/issues/182 and not block this sim from being published.

[2021-08-05 21:03] jbphet commented on #64
Yes, mipmaps can probably help with this.  @SaurabhTotey - You may not have run into these before, but a mipmap is basically an image that is pre-scaled at multiple resolutions and can thus look good over a larger range of sizes.  Here is a rough set of steps for changing images to mipmaps.  I'm doing this from memory, and it has been a while, so this might not be perfect.

1. Identify the images

[2021-08-05 21:46] amanda-phet commented on #63
The changes to the "Points off scale" message look good to me!

[2021-08-05 21:47] amanda-phet commented on #63
There are a lot of overlapping issues here that I am going to try to transfer to a new issue.

[2021-08-05 21:48] amanda-phet opened #66 "x1 and x2 labels overlapping tick mark labels in the explore screen"
@stemilymill wrote:

Another instance of x labels overlapping other things is in the explore screen, for the house/girl scene and thermometer scene, the x labels overlap the 0 on the number line.

![x1 x2 labels overlap number line numbers zoom](https://user-images.githubusercontent.com/85511101/128224257-0765d921-ad7b-4bcb-b74e-e6c337f74c55.jpg)

_Originally posted by @stemilymill in https://gith

[2021-08-05 21:49] amanda-phet opened #67 "point labels and distance label overlap more than necessary in bird scene"
@stemilymill wrote:
In the fish and bird scene, the point labels and distance labels can also overlap.

![ipad number label overlap distance label](https://user-images.githubusercontent.com/85511101/128396100-f8490226-71db-4712-a80d-d69bc3d2d567.png)
(I messed with the color balance etc to make it more visible)

iPadOS version: 14.7.1

_Originally posted by @stemilymill in https://github.com/phets

[2021-08-05 21:50] amanda-phet commented on #67
For this, I think it would be a good idea to move the distance label a tiny bit to the left so it's not overlapping the point labels.

[2021-08-05 21:55] amanda-phet commented on #66
For these overlaps, I am wondering why the height of the x1 and x2 labels is so tall, especially above the variable. I think we can move these labels down if needed, but I would like to do a combination of first reducing the height of the label (if possible) and then shifting down if we still need more room to not overlap the 0.

For example, this looks like a totally reasonable size for the backg

[2021-08-05 21:57] amanda-phet commented on #63
OK new issues created, so this can be closed.

[2021-08-06 21:08] SaurabhTotey commented on #64
I created mipmaps for the person and the house images, but I am unable to test or see the blurriness, so I am unsure if anything has changed. Assigning to @amanda-phet.

[2021-08-06 21:57] SaurabhTotey commented on #67
I have moved the distance text to the left for the elevation scene. Assigning to @amanda-phet.

[2021-08-06 22:31] amanda-phet commented on #64
They look ok to me. @Nancy-Salpepi can you verify that this fixes the issue for you? If so, let us know and then you can close the issue. If it's still there we can assign this back to @SaurabhTotey with guidance.

[2021-08-06 22:32] amanda-phet commented on #67
Looks great! Thanks!

[2021-08-06 22:32] #67 closed

[2021-08-06 22:34] amanda-phet commented on #66
I might not be able to review this when it gets fixed, so if this change happens after August 7th please assign back to @stemilymill and also to @kathy-phet .

[2021-08-09 17:07] Nancy-Salpepi commented on #64
I looked at a local build and it looks much better. Both the house and girl are very clear on Mac 11 + safari. On Mac 10.15 + safari, the house looks great. It is still a little hard to make out the girl's face, but it is much better than before.

[2021-08-09 23:18] SaurabhTotey commented on #66
I also found it odd how the backgrounds were a little too tall for the texts. I fixed this by forcing the texts to accurately compute their own bounds (as suggested by @jbphet). I also moved the point names down so that they no longer overlap with the number line numbers. Assigning to @stemilymill and @kathy-phet for review.

[2021-08-10 04:08] kathy-phet commented on #66
Looks good to me! Thanks for the fix @SaurabhTotey.

[2021-08-10 13:30] samreid commented on #66
Should this be cherry-picked into the RC branch?

[2021-08-10 14:03] kathy-phet commented on #66
Yes, this should be in the 1.0 published version. I assume @jessegreenberg will help @SaurabhTotey with this process when rc.2 is published for spot checks.

[2021-08-11 19:11] SaurabhTotey commented on #63
Reopening to verify that this made it into the 1.0 release.

[2021-08-11 19:11] SaurabhTotey commented on #64
Reopening to verify that this made it into the 1.0 release.

[2021-08-11 19:35] SaurabhTotey commented on #39
The credits should be complete, I would just like them to be verified.

[2021-08-11 19:35] jessegreenberg commented on #66
@SaurabhTotey cherry-picked this change into the release branch, ready for verification by QA.

[2021-08-11 20:24] stemilymill commented on #39
Based on this comment, Amanda should be included in the graphic arts credits and she is currently not.

[2021-08-11 20:30] #66 closed

[2021-08-11 20:34] #63 closed

[2021-08-11 20:54] stemilymill commented on #64
The girl is still a little bit more blurry than the other things on the screen, but I don't know how picky you want to be with this. I observed in iframe and in the regular sim at various window sizes on both Win10 chrome and firefox.

**iframe**
![rc 1 0 2 blurry girl iframe ](https://user-images.githubusercontent.com/85511101/129101113-398156ab-8ccf-44a9-aaa4-625b9e65bd13.jpg)

**regular sim at

[2021-08-12 15:53] Nancy-Salpepi commented on #64
Both the house and girl are very clear on Mac 11 + safari.
On Mac 10.15 + safari, the house is very clear. It is still a little hard to make out the girl's face, but it is much better than before. I think it is acceptable.

[2021-08-12 15:53] #64 closed

[2021-08-12 20:37] KatieWoe commented on #39
I believe QA credits are fine for this

[2021-08-12 20:37] #39 closed

[2021-08-13 18:33] kathy-phet commented on #65
This behavior has changed on master. The sim should obey the pause command. This appears to be a common code change in the way the sim responds to the LOL harness.

[2021-08-13 19:07] KatieWoe commented on #65
Ok, very odd new behavior. I went to check published sims to see how far back this might have been introduced. However, the brand-new NLD sim that showed the issue in rc does not seem to show it in the published version.

[2021-08-13 19:29] kathy-phet commented on #65
Just a misspelling of the query parameter in the first test. Closing.

[2021-08-13 19:29] #65 closed

[2021-08-18 20:20] amanda-phet opened #68 "Rename "directed distance" behind a query parameter"
A physics teacher on twitter recommended the change to "displacement", and Ariel suggested we add this an an option behind a query parameter. I'm wondering if we would want it to be a query parameter, or instead maybe an option in the preferences menu. Assinging to @kathy-phet to discuss.

[2021-08-18 20:40] kathy-phet commented on #68
We often both, in cases like this. So its in the preferences, but initial selection can be controlled by query parameter.

[2021-08-19 14:57] amanda-phet commented on #68
Thanks @kathy-phet . Should we try to re-publish the sim soon with this feature? Or wait until there's another reason to re-publish?

[2021-09-01 20:51] amanda-phet opened #69 "Sim primer draft"

[2021-09-01 20:51] amanda-phet opened #70 "LoL icons for each screen created and uploaded to Drive"

[2021-09-01 20:51] amanda-phet opened #71 "LoL metadata for each screen (description, vocab words, questions for before/after sim use)"

[2021-09-01 20:54] amanda-phet commented on #1
Remaining items converted to issues. Closing!

[2021-09-01 20:54] #1 closed

[2021-10-25 17:14] jbphet opened #72 "Nav bar icons and other artwork look fuzzy on lower resolution monitors"
On my main monitor, the nav bar icons and the artwork on the lower right of the screen look fine, but they look quite fuzzy on my auxiliary monitor.  It might be wise to turn these into mipmaps to make them look a little better in all situations.

Here is a screenshot taken from the auxiliary monitor.

![image](https://user-images.githubusercontent.com/3082831/138740408-a1ee9e6b-33bb-4508-957a-13d

[2022-05-25 00:40] jonathanolson opened #73 "Extreme negative spacing in vertical layout"
I kept https://github.com/phetsims/number-line-distance/blob/edd76b95e1650368400657c10bd1a6d68a88eee5/js/common/view/DistanceStatementNode.js#L205 using LayoutBox, since the new FlowBox switch would error out with that.

When I ran it, it was a VBox with -20 spacing, and the top element was 16 pixels high. This means the second element's bounds were actually ABOVE the first element's bounds. This

[2022-05-27 22:01] jbphet commented on #73
I think the problematic code is the part that sets negative spacing values.  It looks like this:

[code]

I can see what @SaurabhTotey was trying to do here.  He was trying to make the labels at the top of the statement (the x<sub>2</sub> and x<sub>1</sub> in the screen captures below) be very close to the values to which they correspond.  To see what I mean, take a look at this screen capture, wh

[2022-05-28 01:56] jonathanolson commented on #73
The bounds look very expanded for the bottom part!

Could definitely do this with ManualConstraint (in order to vertically position it). I'm not sure how it's written, but it looks like a natural fit for a GridBox layout if you want the e.g. x2 to line up with the 5 vertically.

Would a zoom call to discuss help?

[2022-06-03 21:18] jbphet commented on #73
Something weird happened with my first commit on this issue, possibly a merge that didn't work out right.  At any rate, I've just made a commit that sets the spacing to zero and adds a TODO item.

[2022-06-03 22:33] jbphet commented on #73
I was curious about why the labels and the terms weren't sitting right on top of one another when the spacing of the `FlowBox` was set to zero, and after studying the code for a bit, I can see that it is because there are background nodes behind the terms that are relatively tall.  To see these, I (temporarily) added a fill to those nodes.  Below are some screenshots followed by the code change th

[2022-06-03 22:37] jbphet commented on #73
@amanda-phet - Some changes to the common code necessitated some changes to this sim, and those changes resulted in subtle differences in the layout, specifically the size of the accordion box that contains the number statement and the positioning of the statement inside the box.  The changes are fairly subtle, but I didn't want to assume they were okay without having you take a look, since you we